{{> header}}

{{#banner}}
    <h3 class="top_title">{{title}}</h3>
    {{content}}
{{/banner}}
<!--<br><br>-->
<!--{{#products}}-->
<!--    <div>-->
<!--        <img width="256" src="{{thumbnail}}" style="float:left;">-->
<!--        <div>-->
<!--            <h4 class="article-title" style="color:red; margin: 0px"><a href="/product/{{id}}">{{name}}</a></h4>-->
<!--            <div class="article-price">{{price}}</div>-->
<!--            <div class="article-meta">By <strong>{{shopName}}</strong>, on <strong>{{addedAt}}</strong></div>-->
<!--        </div>-->
<!--    </div>-->
<!--    -------------------->
<!--    <br><br>-->
<!--{{/products}}-->
<p style="margin: 40px 0px 0px 333px;"><a href="http://www.nguyenducthinh.com">Thịnh</a></p>
{{> footer}}